.list {
    height: 36px;
    display: flex;
    flex-direction: column;
    // background-color: bisque;    
}
.data {
    display: flex;
    flex-direction: column;
    height: 36px;
}

.flex-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    margin: 0;
    padding: 0;
}